In [1]:
PATH = "/diskA/jethro/cnn/"

In [2]:
RAW = f'{PATH}/raw'

In [3]:
import os

In [4]:
stories = os.listdir(RAW)

In [5]:
len(stories)

92579

In [19]:
processed_stories = []
for s in stories:
    tt = open(f'{RAW}/{s}').readlines()
    tt = [t.replace("-LRB- CNN Student News -RRB- --", "")
          .replace("-LRB- CNN -RRB- --", "")
          .replace("-LRB-", "")
          .replace("-RRB-", "")
          .replace("''", '"')
          .replace("``", '" ')
          .strip() for t in tt if t != "\n"]
    paragraph = []
    summary = []
    flag = True
    for i, t in enumerate(tt):
        if t == "@highlight":
            flag = False
            summary.append(tt[i+1])
        elif flag:
            paragraph.append(t)
    paragraph = " ".join(paragraph)
    summary = " ".join(summary)
    if len(paragraph.strip()) > 0 and len(summary.strip()) > 0:
        processed_stories.append({
            "story": paragraph,
            "summary": summary
        })

In [20]:
len(processed_stories)

92465

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(processed_stories)

In [23]:
df.head()

,story,summary
0,"Fort Hood , Texas The shooting at Fort Hood w...",NEW : Pfc. Lance Aviles says he was ordered to...
1,WikiLeaks founder Julian Assange is trying to ...,Julian Assange is seeking to avoid extradition...
2,The news that Scotland has rejected independen...,Hammond : UK allies will breathe sigh of relie...
3,BP plans to continue using a controversial sub...,"EPA says it "" will continue to work over the ..."
4,Barcelona may be licking their wounds after a ...,Barcelona 's Eric Abidal is given the all clea...

In [24]:
df.describe()

,story,summary
count,92465,92465
unique,89372,88665
top,Michael Jackson was an international superstar...,This page includes the show Transcript Use the...
freq,3,111

In [25]:
df.to_feather(f'{PATH}/stories.feather')

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
train, test = train_test_split(df, test_size=0.2)

In [28]:
train = train.reset_index()
train.to_feather(f'{PATH}/train.feather')

In [29]:
test = test.reset_index()
test.to_feather(f'{PATH}/test.feather')

In [30]:
train.to_csv(f'{PATH}/train.tsv', sep="\t")

In [31]:
test.to_csv(f'{PATH}/test.tsv', sep="\t")