# Initial Setup

In [116]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [117]:
import pandas as pd

In [118]:
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [119]:
PATH = "/diskA/jethro/terraweather"

# Data Exploration

Gauge.csv contains Rain Gauge readings for 2017, 52 weeks in total.

In [120]:
gauge = pd.read_csv(f'{PATH}/gauge.csv')

In [6]:
gauge.describe()

,Year,Week,0,1,2,3,4,5,6,7,...,40,41,42,43,44,45,46,47,48,49
count,52.0,52.000000,52.000000,50.000000,49.000000,50.00000,52.000000,50.000000,51.000000,52.000000,...,32.000000,48.000000,29.000000,41.000000,51.000000,52.000000,45.000000,44.000000,40.000000,43.000000
mean,2017.0,26.500000,49.676923,47.668000,40.395918,40.16800,55.517308,50.828000,38.984314,55.567308,...,36.762500,51.508333,50.951724,52.658537,60.625490,39.338462,44.200000,47.740909,49.380000,31.660465
std,0.0,15.154757,42.372617,41.638711,34.880068,38.86549,46.880046,41.178378,32.525555,51.104724,...,29.038148,37.510168,33.203298,47.571467,53.773625,35.642265,37.351768,35.348223,40.164809,30.742852
min,2017.0,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.0,13.750000,11.300000,12.600000,10.600000,8.65000,20.675000,15.500000,16.500000,21.000000,...,13.300000,27.250000,23.400000,17.000000,25.350000,11.300000,12.200000,25.950000,21.450000,7.200000
50%,2017.0,26.500000,41.900000,41.700000,28.400000,29.30000,46.700000,39.300000,34.800000,39.600000,...,30.200000,41.000000,49.600000,40.600000,50.500000,30.000000,34.200000,40.700000,43.300000,21.000000
75%,2017.0,39.250000,76.850000,73.900000,68.200000,62.80000,80.900000,84.000000,52.300000,81.350000,...,51.000000,70.450000,77.800000,73.800000,73.750000,64.900000,71.400000,59.650000,71.300000,49.300000
max,2017.0,52.000000,151.000000,145.200000,124.600000,150.80000,184.400000,153.600000,130.800000,243.800000,...,123.400000,145.600000,122.600000,222.000000,272.300000,148.400000,162.600000,169.800000,171.200000,117.400000

In [130]:
gauge.head()

,Year,Week,0,1,2,3,4,5,6,7,...,40,41,42,43,44,45,46,47,48,49
0,2017,1,20.8,25.6,9.8,8.6,21.0,13.2,4.8,45.6,...,22.4,27.6,30.0,31.8,50.7,6.2,42.6,31.6,10.0,22.0
1,2017,2,54.0,0.2,14.2,21.4,74.2,2.6,40.6,37.2,...,1.6,45.2,2.4,40.6,49.2,0.0,1.0,50.8,48.0,0.0
2,2017,3,149.6,145.2,92.8,72.6,177.1,35.2,67.2,96.0,...,32.2,128.2,81.4,133.0,157.3,17.8,57.0,169.8,74.6,70.6
3,2017,4,120.0,93.0,124.6,74.6,110.9,117.2,81.8,84.2,...,123.4,78.0,92.8,83.8,87.6,98.2,78.0,77.4,110.0,117.4
4,2017,5,46.0,2.4,16.6,69.0,91.7,13.8,67.8,86.6,...,7.6,54.0,23.0,78.4,98.3,11.4,32.6,37.0,78.6,9.6

In [139]:
import datetime
def year_week_to_date(input):
    year, week = input
    return datetime.datetime.strptime(f'{year}-{week}-0',"%Y-%W-%w")

In [140]:
gauge["date"] = gauge[["Year", "Week"]].apply(year_week_to_date, axis=1)

In [149]:
gauge = gauge.set_index(pd.DatetimeIndex(gauge["date"]))

In [151]:
UNWANTED_GAUGE_COLUMNS = ["Year", "Week", "date"]

In [157]:
gauge.drop(gauge[UNWANTED_GAUGE_COLUMNS], axis=1, inplace=True)

In [159]:
gauge = gauge.interpolate(method="time")

In [166]:
gauge

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
date,,,,,,,,,,,,,,,,,,,,,
2017-01-08,20.8,25.6,9.8,8.600000,21.0,13.200000,4.8,45.6,43.000000,18.6,...,22.400000,27.600000,30.000000,31.800000,50.70,6.2,42.600000,31.6,10.000000,22.000000
2017-01-15,54.0,0.2,14.2,21.400000,74.2,2.600000,40.6,37.2,0.000000,2.8,...,1.600000,45.200000,2.400000,40.600000,49.20,0.0,1.000000,50.8,48.000000,0.000000
2017-01-22,149.6,145.2,92.8,72.600000,177.1,35.200000,67.2,96.0,40.500000,80.2,...,32.200000,128.200000,81.400000,133.000000,157.30,17.8,57.000000,169.8,74.600000,70.600000
2017-01-29,120.0,93.0,124.6,74.600000,110.9,117.200000,81.8,84.2,81.000000,106.6,...,123.400000,78.000000,92.800000,83.800000,87.60,98.2,78.000000,77.4,110.000000,117.400000
2017-02-05,46.0,2.4,16.6,69.000000,91.7,13.800000,67.8,86.6,4.600000,17.4,...,7.600000,54.000000,23.000000,78.400000,98.30,11.4,32.600000,37.0,78.600000,9.600000
2017-02-12,62.0,12.2,35.0,63.800000,40.6,51.600000,36.2,23.4,28.600000,110.2,...,58.400000,30.000000,28.516667,77.400000,41.00,18.4,27.800000,51.2,83.600000,7.800000
2017-02-19,23.6,8.2,20.0,14.800000,23.8,9.200000,19.0,10.2,19.000000,7.8,...,20.600000,10.000000,34.033333,76.400000,12.20,2.4,12.200000,11.8,28.200000,7.200000
2017-02-26,59.4,14.2,41.6,57.800000,48.2,38.800000,34.8,70.2,114.800000,17.4,...,65.600000,63.200000,39.550000,75.400000,64.40,23.4,95.400000,52.0,39.000000,33.200000
2017-03-05,57.2,20.2,52.4,68.000000,66.8,99.600000,51.4,85.0,97.200000,47.6,...,79.200000,101.400000,45.066667,54.400000,51.90,93.6,67.400000,70.2,64.600000,37.400000
2017-03-12,40.4,26.2,24.6,6.800000,33.5,25.000000,0.0,5.0,36.000000,40.2,...,27.000000,55.800000,50.583333,17.000000,13.60,20.4,14.800000,59.6,0.200000,6.200000
2017-03-19,2.4,12.2,13.8,9.000000,55.4,33.000000,0.0,32.8,38.000000,13.4,...,10.600000,37.400000,56.100000,21.000000,42.70,6.2,29.600000,41.2,2.200000,7.200000
2017-03-26,22.6,15.8,31.0,23.800000,32.4,14.600000,21.8,32.2,31.200000,76.4,...,51.600000,28.600000,61.616667,73.800000,72.00,12.4,20.800000,57.4,27.600000,5.600000
2017-04-02,36.8,30.0,48.2,78.600000,67.4,45.600000,77.6,21.6,3.000000,45.0,...,37.800000,34.000000,67.133333,19.400000,25.20,26.6,4.800000,57.0,107.000000,54.000000
2017-04-09,15.4,52.6,37.2,47.600000,26.5,44.200000,49.8,36.2,49.200000,51.2,...,40.000000,20.000000,72.650000,24.800000,30.10,58.8,38.600000,25.8,48.400000,48.600000
2017-04-16,43.8,90.4,82.6,13.200000,45.8,86.600000,34.6,38.4,62.800000,68.2,...,46.000000,99.000000,78.166667,66.600000,72.90,76.2,82.400000,53.6,21.800000,43.200000
2017-04-23,98.8,134.0,68.2,74.800000,77.7,86.400000,37.8,102.6,176.400000,96.8,...,50.833333,139.000000,83.683333,58.600000,69.70,68.2,162.600000,44.1,43.000000,37.800000
2017-04-30,100.2,56.0,82.8,69.200000,127.3,84.600000,78.0,24.8,22.400000,30.0,...,55.666667,46.200000,89.200000,28.000000,38.70,112.6,17.800000,34.6,38.466667,32.400000
2017-05-07,2.0,76.0,1.6,1.200000,54.5,25.200000,30.4,49.8,69.800000,34.2,...,60.500000,24.800000,83.150000,29.200000,25.50,109.8,71.600000,14.0,33.933333,9.600000
2017-05-14,9.2,28.4,20.4,8.400000,13.9,31.800000,20.0,6.4,68.000000,63.8,...,65.333333,11.600000,77.100000,13.100000,33.50,34.4,58.200000,11.0,29.400000,25.800000
2017-05-21,84.8,15.8,82.8,59.800000,64.5,19.000000,35.8,23.5,11.000000,12.8,...,70.166667,26.200000,71.050000,22.266667,50.40,5.4,80.100000,28.8,61.000000,45.266667
2017-05-28,43.4,103.0,39.8,39.866667,79.6,107.400000,46.6,92.8,111.500000,89.4,...,75.000000,85.200000,65.000000,31.433333,81.40,69.8,102.000000,113.0,65.125000,64.733333
2017-06-04,109.2,59.4,87.4,19.933333,104.6,99.000000,23.4,72.8,51.500000,71.6,...,77.028571,70.600000,58.950000,40.600000,36.30,60.0,33.200000,91.4,69.250000,84.200000
2017-06-11,0.0,29.8,0.0,0.000000,0.0,20.600000,0.2,10.0,60.600000,4.6,...,79.057143,1.800000,52.900000,7.500000,7.40,12.8,24.533333,1.4,73.375000,7.200000
2017-06-18,16.0,111.8,10.6,8.000000,24.0,104.800000,22.0,119.5,98.200000,34.2,...,81.085714,62.600000,46.850000,69.200000,68.50,88.8,15.866667,68.8,77.500000,51.400000
2017-06-25,55.6,0.2,51.0,35.800000,84.8,7.200000,72.6,5.8,0.800000,40.4,...,83.114286,35.600000,40.800000,3.800000,2.10,19.0,7.200000,33.2,81.625000,20.400000
2017-07-02,8.2,13.8,5.6,22.800000,5.0,29.400000,3.2,64.7,4.800000,8.8,...,85.142857,37.800000,47.600000,12.600000,17.30,34.0,5.400000,38.1,85.750000,1.400000
2017-07-09,52.2,67.6,49.0,46.000000,26.2,39.800000,32.6,18.6,89.600000,25.4,...,87.171429,39.600000,48.800000,35.600000,33.50,8.6,3.600000,43.0,89.875000,16.400000
2017-07-16,74.2,77.2,65.4,13.600000,142.2,144.400000,44.8,77.0,54.600000,119.0,...,89.200000,29.933333,50.000000,75.400000,79.30,64.8,1.800000,21.5,94.000000,90.800000
2017-07-23,0.0,0.6,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,20.266667,0.000000,0.000000,0.00,0.0,0.000000,0.0,0.000000,0.000000
2017-07-30,6.4,0.0,5.0,6.000000,1.8,9.200000,2.4,19.2,0.000000,11.8,...,1.300000,10.600000,3.800000,8.000000,9.70,2.8,0.600000,10.8,2.200000,2.800000
2017-08-06,2.6,4.4,5.0,2.800000,3.9,1.800000,1.6,8.2,0.160000,19.4,...,2.600000,10.600000,36.900000,6.500000,6.10,1.8,1.600000,25.4,8.200000,0.000000
2017-08-13,10.0,89.8,6.0,7.800000,13.4,71.000000,21.4,70.4,0.320000,43.0,...,16.500000,59.600000,70.000000,6.425000,95.30,36.8,26.900000,44.8,32.800000,56.200000
2017-08-20,89.0,139.8,69.4,68.800000,99.1,52.600000,48.6,47.6,0.480000,35.0,...,30.400000,30.600000,71.600000,6.350000,74.50,49.4,52.200000,36.2,70.200000,28.400000
2017-08-27,3.8,0.0,11.0,1.000000,6.7,1.200000,8.2,0.2,0.640000,31.6,...,14.200000,1.600000,69.466667,6.275000,41.35,5.2,0.400000,27.6,5.400000,7.800000
2017-09-03,4.8,1.2,11.4,3.000000,1.8,0.600000,4.4,3.6,0.800000,6.2,...,20.600000,1.800000,67.333333,6.200000,8.20,0.8,0.000000,1.2,14.000000,32.000000
2017-09-10,37.2,129.0,46.4,50.400000,19.1,19.200000,37.4,84.2,138.400000,20.2,...,30.000000,38.200000,65.200000,76.000000,93.70,16.0,101.400000,26.0,43.600000,81.600000
2017-09-17,36.8,77.8,39.2,30.800000,24.6,91.800000,36.2,30.6,50.000000,48.0,...,46.200000,34.500000,50.800000,13.000000,12.40,38.4,54.000000,35.6,57.000000,72.600000
2017-09-24,67.8,45.6,32.0,45.400000,55.3,70.600000,39.8,40.8,45.200000,82.0,...,40.066667,30.800000,93.000000,54.600000,50.50,64.2,84.600000,69.6,37.400000,33.200000
2017-10-01,22.2,54.6,24.8,17.000000,41.7,67.600000,14.0,44.8,47.142857,40.2,...,33.933333,70.400000,36.200000,68.800000,65.00,33.4,88.800000,51.6,20.400000,19.600000
2017-10-08,100.2,62.4,49.8,27.800000,76.0,108.000000,30.2,35.6,49.085714,38.2,...,27.800000,58.200000,77.800000,105.200000,103.40,59.0,31.600000,120.8,50.800000,21.000000
2017-10-15,88.6,102.6,86.4,35.200000,90.1,77.600000,53.2,65.6,51.028571,50.4,...,50.800000,76.000000,44.500000,44.400000,38.70,77.4,104.400000,84.4,54.200000,20.400000
2017-10-22,1.8,0.0,1.8,0.800000,1.0,0.000000,0.8,0.0,52.971429,13.2,...,9.400000,0.000000,11.200000,0.000000,0.00,0.4,2.200000,7.6,2.800000,5.600000
2017-10-29,30.8,0.2,9.0,17.400000,23.1,11.400000,31.8,85.0,54.914286,5.4,...,15.440000,42.400000,11.400000,35.400000,64.40,12.0,2.000000,40.2,40.500000,31.800000
2017-11-05,10.4,38.0,10.6,8.800000,19.7,82.200000,12.6,57.6,56.857143,91.6,...,21.480000,58.600000,49.600000,69.600000,73.00,39.6,34.200000,38.3,78.200000,104.400000
2017-11-12,151.0,45.4,107.0,150.800000,184.4,87.933333,129.8,197.2,58.800000,91.4,...,27.520000,120.000000,122.600000,222.000000,207.30,73.6,47.800000,36.4,77.300000,47.200000
2017-11-19,144.8,47.0,109.2,148.600000,90.1,93.666667,82.0,178.0,57.400000,74.2,...,33.560000,109.200000,52.000000,200.780000,272.30,78.8,79.000000,34.5,76.400000,58.800000
2017-11-26,56.2,51.6,28.4,54.200000,47.9,99.400000,32.2,34.2,64.600000,74.6,...,39.600000,38.600000,46.200000,179.560000,39.70,65.2,65.800000,32.6,53.400000,38.300000
2017-12-03,11.6,19.4,4.4,10.800000,6.2,18.200000,19.4,11.4,17.800000,6.6,...,9.000000,6.000000,5.200000,158.340000,21.60,19.4,28.000000,30.7,32.000000,17.800000
2017-12-10,39.2,24.0,14.8,41.200000,36.9,77.200000,63.0,80.4,8.000000,7.9,...,5.600000,67.200000,46.800000,137.120000,62.00,11.0,6.600000,28.8,95.500000,2.400000
2017-12-17,105.8,65.4,91.8,143.200000,130.0,73.000000,130.8,243.8,93.800000,57.3,...,73.400000,97.800000,90.000000,115.900000,185.70,37.4,48.400000,59.8,159.000000,2.400000
2017-12-24,48.4,30.2,23.6,55.200000,47.6,25.400000,56.4,33.6,25.200000,24.8,...,28.600000,35.800000,23.400000,60.000000,63.80,14.4,26.400000,23.2,34.800000,2.400000
2017-12-31,106.0,67.4,85.6,112.200000,146.9,153.600000,120.6,144.6,91.400000,118.6,...,28.600000,145.600000,93.600000,179.800000,131.90,148.4,71.400000,121.4,171.200000,2.400000

In [163]:
np_gauge

array([[  20.8,   25.6,    9.8, ...,   31.6,   10. ,   22. ],
       [  54. ,    0.2,   14.2, ...,   50.8,   48. ,    0. ],
       [ 149.6,  145.2,   92.8, ...,  169.8,   74.6,   70.6],
       ...,
       [ 105.8,   65.4,   91.8, ...,   59.8,  159. ,    2.4],
       [  48.4,   30.2,   23.6, ...,   23.2,   34.8,    2.4],
       [ 106. ,   67.4,   85.6, ...,  121.4,  171.2,    2.4]])

# Radar Files

In [7]:
import glob
radar_files = glob.glob(f'{PATH}/radar/*.csv')

In [8]:
radar_files

['/diskA/jethro/terraweather/radar/2017-36.csv',
 '/diskA/jethro/terraweather/radar/2017-39.csv',
 '/diskA/jethro/terraweather/radar/2017-21.csv',
 '/diskA/jethro/terraweather/radar/2017-13.csv',
 '/diskA/jethro/terraweather/radar/2017-41.csv',
 '/diskA/jethro/terraweather/radar/2017-22.csv',
 '/diskA/jethro/terraweather/radar/2017-18.csv',
 '/diskA/jethro/terraweather/radar/2017-37.csv',
 '/diskA/jethro/terraweather/radar/2017-38.csv',
 '/diskA/jethro/terraweather/radar/2017-35.csv',
 '/diskA/jethro/terraweather/radar/2017-19.csv',
 '/diskA/jethro/terraweather/radar/2017-31.csv',
 '/diskA/jethro/terraweather/radar/2017-45.csv',
 '/diskA/jethro/terraweather/radar/2017-17.csv',
 '/diskA/jethro/terraweather/radar/2017-26.csv',
 '/diskA/jethro/terraweather/radar/2017-33.csv',
 '/diskA/jethro/terraweather/radar/2017-32.csv',
 '/diskA/jethro/terraweather/radar/2017-15.csv',
 '/diskA/jethro/terraweather/radar/2017-47.csv',
 '/diskA/jethro/terraweather/radar/2017-20.csv',
 '/diskA/jethro/terraweather/radar/2017-48.csv',
 '/diskA/jethro/terraweather/radar/2017-44.csv',
 '/diskA/jethro/terraweather/radar/2017-24.csv',
 '/diskA/jethro/terraweather/radar/2017-51.csv',
 '/diskA/jethro/terraweather/radar/2017-49.csv',
 '/diskA/jethro/terraweather/radar/2017-46.csv',
 '/diskA/jethro/terraweather/radar/2017-28.csv',
 '/diskA/jethro/terraweather/radar/2017-29.csv',
 '/diskA/jethro/terraweather/radar/2017-23.csv',
 '/diskA/jethro/terraweather/radar/2017-50.csv',
 '/diskA/jethro/terraweather/radar/2017-16.csv']

In [234]:
import os
dfs = []

for f in radar_files:
    df = pd.read_csv(f)
    yearweek = os.path.splitext(os.path.basename(f))[0].split('-')
    df["date"] = year_week_to_date(yearweek)
    dfs.append(df)

In [235]:
radar = pd.concat(dfs)

In [236]:
radar = radar.set_index(["lat", "long", "date"])

In [237]:
radar.head()

                        0  1  2  3  4  5  6  7  8  9 ...  24  25  26  27  28  \
lat long date                                        ...
0   0    2017-09-10  1872  0  0  1  1  0  0  1  6  3 ...   3   4   0   2   0
    1    2017-09-10  1863  0  0  0  1  3  2  1  9  5 ...   3   2   2   0   0
    2    2017-09-10  1868  0  0  0  0  3  0  4  9  9 ...   6   1   1   0   0
    3    2017-09-10  1868  0  0  0  1  0  4  7  8  7 ...   6   5   1   0   0
    4    2017-09-10  1868  0  0  0  1  2  5  4  8  8 ...   5   3   2   0   0

                     29  30  31  32  33
lat long date
0   0    2017-09-10   0   0   0   0   0
    1    2017-09-10   0   0   0   0   0
    2    2017-09-10   0   0   0   0   0
    3    2017-09-10   0   0   0   0   0
    4    2017-09-10   0   1   0   0   0

[5 rows x 34 columns]

In [238]:
radar = radar.interpolate(method="linear") # this might be a bit strange

In [241]:
rm[0]

array([1872,    0,    0,    1,    1,    0,    0,    1,    6,    3,    9,
         15,   12,    7,   20,    5,    8,    9,    8,    6,    5,    7,
          7,    5,    3,    4,    0,    2,    0,    0,    0,    0,    0,
          0])

# The model

In [18]:
MAX_SIZE=480

In [62]:
from keras.layers import Input, Dense, Lambda, Merge
from keras.models import Model

In [197]:
inputs = Input(shape=(52,))

In [198]:
import keras.backend as K

def my_relu(x):
    return K.cast(K.round(K.relu(x) * MAX_SIZE),dtype='int32')

In [284]:
x = Dense(64, activation='relu')(inputs)
x = Dense(1, activation=my_relu)(x)

y = Dense(64, activation='relu')(inputs)
y = Dense(1, activation=my_relu)(y)

# set rr_matrix
rr_matrix = [[1.,2.,3.],[2., 3., 4.]]
rr_const = K.variable(rr_matrix)
rr_input_matrix = Input(tensor=rr_const)

m = Dense(64, activation='relu')(rr_input_matrix)
m = Dense(1, activation='relu')(rr_input_matrix)

print(m.shape)
def my_merge(v):
    m, x, y = v
    return m[x[0]][y[0]]

prediction = Lambda(my_merge)([m, x, y])

(2, 1)

ValueError: Shape must be rank 1 but is rank 2 for 'lambda_72/strided_slice_1' (op: 'StridedSlice') with input shapes: [2,1], [1,1], [1,1], [1].

In [169]:
model = Model(inputs=inputs, outputs=prediction)
model.compile(optimizer='rmsprop',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

TypeError: Output tensors to a Model must be Keras tensors. Found: <keras.layers.core.Lambda object at 0x7f13bc35afd0>

In [168]:
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot

SVG(model_to_dot(model).create(prog='dot', format='svg'))